body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.budget-app {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.bill-input,
.bill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid rgba(white, 0.4);
}

.bill {
  line-height: 40px;
  padding: 0 10px;
  &[data-bill-type="bill"] {
    background-color: #e74c3c;
  }
  &[data-bill-type="savings"] {
    background-color: #27ae60;
    color: white;
  }
  &--name,
  &--type,
  &--value,
  &--income {
    width: 25%;
  }
}

.bill-input {
  button {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-size: 2rem;
  }
  label {
    display: block;
    select,
    input {
      display: block;
      padding: 5px 15px;
      max-width: 100%;
    }
  }
  &--value {
    position: relative;
    &:before {
      content: "$";
      position: absolute;
      top: 50%;
      left: 5px;
    }
  }
}

.bills-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  p {
    width: 25%;
  }
}.modal-popup {
  &--content {
    position: fixed;
    max-width: 500px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    &--meta {
      background-color: $primary-color;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      height: $header-height;
      &--header {
        margin: 0;
        font-weight: normal;
      }
      &--close {
        color: white;
        @include remove-button-vendor-styles;
        font-size: 2rem;
        position: relative;
      }
    }
  }
  &--backdrop {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4)
  }
}