body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.bill-input,
.bill {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
}

.bill-input {
  button {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-size: 2rem;
  }
  label {
    display: block;
    select,
    input {
      display: block;
      padding: 5px 15px;
      max-width: 100%;
    }
  }
  &--value {
    position: relative;
    &:before {
      content: "$";
      position: absolute;
      top: 50%;
      left: 5px;
    }
  }
}

.bills-header {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}